<!DOCTYPE html>
<html>
<head>
	<head>
		<title>Create a new account</title>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<!-- Optional theme -->
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	</head>
<body style = "background: #588c7e">


	<center>
	<div id = "create" style = "background-color: white; width: 600px; border-radius: 10px; padding: 5px; margin-top: 100px;">
		<h1 style = " color: #282827; font-family: FontAwesome">Login</h1>
		<br />
		<form method = "post" action = "login">
			<input type = "text" name = "user" "text" class="form-control" placeholder="Username" style = "width: 400px"><br /><br />
			<input type = "password" name = "password" "text" class="form-control" placeholder="Password" style = "width: 400px"><br /><br />
			<input type = "submit" value = "Login!" class = "navbar-btn">
		</form>
		</div>
	</center>


</body>
</html>